TicketEmpresarialPruebas/Service References/TicketEmpresarialService/TEService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TE.Entities.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TE.Entities.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://demo.edenred.com.mx/Desarrollo/TEServicesFacade/TEService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TE.Entities" />
  <xs:complexType name="CardBalanceAssignmentRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TE.Entities" minOccurs="0" name="CardBalanceDTOList" nillable="true" type="q1:ArrayOfCardBalanceDTO" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TE.Entities" minOccurs="0" name="Security" nillable="true" type="q2:SecurityDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardBalanceAssignmentRequest" nillable="true" type="tns:CardBalanceAssignmentRequest" />
  <xs:complexType name="CardBalanceAdjustmentRequest">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TE.Entities" minOccurs="0" name="CardBalanceDTOList" nillable="true" type="q3:ArrayOfCardBalanceDTO" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TE.Entities" minOccurs="0" name="Security" nillable="true" type="q4:SecurityDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardBalanceAdjustmentRequest" nillable="true" type="tns:CardBalanceAdjustmentRequest" />
  <xs:complexType name="CardGetListRequest">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TE.Entities" minOccurs="0" name="Filter" type="q5:CardGetListFilter" />
      <xs:element minOccurs="0" name="FilterValue" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TE.Entities" minOccurs="0" name="Paging" nillable="true" type="q6:PagingDTO" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TE.Entities" minOccurs="0" name="Security" nillable="true" type="q7:SecurityDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardGetListRequest" nillable="true" type="tns:CardGetListRequest" />
</xs:schema>